{% block header %}
<header id="header">
    <a href="{{ config.base_url|safe }}">
        {% if config.extra.navigation_logo %}
        <div id="logo" style="background-image: url({{ config.extra.navigation_logo }});"></div>
        {% endif %}
        <div id="title"><h1>{{ config.title }}</h1></div>
    </a>
    <div id="nav">
        <ul>
            <li class="icon">
                <a href="#" aria-label=""><i class="fas fa-bars fa-2x"></i></a>
            </li>
            {% for nav in config.extra.navigation %}
            <li><a href="{{ nav.link |safe }}">{{ nav.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</header>
{% endblock header %}
