{% extends 'base.html' %}

{% block title %}Archives{% endblock %}

{% block content %}
<div id="archive">
    <ul class="post-list">
        {% for year, posts in paginator.pages |group_by(attribute="year") %}
        <h2>{{ year }}</h2>
        {% for post in posts %}
        <li class="post-item">
            <div class="meta">
                <time datetime="{{ post.date |date(format='%+') }}" itemprop="datePublished">{{ post.date |date(format=config.extra.post_date_format) }}</time>
            </div>
            <span><a href="{{ post.permalink }}">{{ post.title }}</a></span>
        </li>
        {% endfor %}
        {% endfor %}
    </ul>
    {% if paginator.next or paginator.previous %}
    <div class="pagination">
        {% if paginator.previous %}
        <a href="{{ paginator.previous |safe }}"><i class="fas fa-angle-left"></i></a>
        {% endif %}
        <span class="page-number">Page {{ paginator.current_index }} of {{ paginator.number_pagers }}</span>
        {% if paginator.next %}
        <a href="{{ paginator.next |safe }}"><i class="fas fa-angle-right"></i></a>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}
