{% extends 'base.html' %}
{% block title %}{{ page.title }}{% endblock %}
{% block header %}
<div id="header-post">
  <a id="menu-icon" href="#" class="active"><i class="fas fa-bars fa-lg"></i></a>
  <a id="menu-icon-tablet" href="#" class="active"><i class="fas fa-bars fa-lg"></i></a>
  <a id="top-icon-tablet" href="#" onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');" style="display:none;"><i class="fas fa-chevron-up fa-lg"></i></a>
  <span id="menu" style="visibility: visible;">
    <span id="nav">
      <ul>
        {% for nav in config.extra.navigation %}
        <li><a href="{{ nav.link |safe }}">{{ nav.name }}</a></li>
        {% endfor %}
      </ul>
    </span>
    <br>
    <span id="actions">
      <ul>
        <li><a class="icon" href="#NOT_IMPLEMENTED"><i class="fas fa-chevron-right" aria-hidden="true" onmouseover="$('#i-next').toggle();" onmouseout="$('#i-next').toggle();"></i></a></li>
        
        <li><a class="icon" href="#" onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');"><i class="fas fa-chevron-up" aria-hidden="true" onmouseover="$('#i-top').toggle();" onmouseout="$('#i-top').toggle();"></i></a></li>
        <li><a class="icon" href="#"><i class="fas fa-share-alt" aria-hidden="true" onmouseover="$('#i-share').toggle();" onmouseout="$('#i-share').toggle();" onclick="$('#share').toggle();return false;"></i></a></li>
      </ul>
      <span id="i-prev" class="info" style="display:none;">Previous post</span>
      <span id="i-next" class="info" style="display: none;">Next post</span>
      <span id="i-top" class="info" style="display:none;">Back to top</span>
      <span id="i-share" class="info" style="display:none;">Share post</span>
    </span>
    <br>
    <div id="share" style="display: none">
        <ul>
            <li><a class="icon" href="http://www.facebook.com/sharer.php?u={{ page.permalink }}"><i class="fab fa-facebook " aria-hidden="true"></i></a></li>
            <li><a class="icon" href="https://twitter.com/share?url={{ page.permalink }}&amp;text={{ page.title }}"><i class="fab fa-twitter " aria-hidden="true"></i></a></li>
            <li><a class="icon" href="http://www.linkedin.com/shareArticle?url={{ page.permalink }}&amp;title={{ page.title }}"><i class="fab fa-linkedin " aria-hidden="true"></i></a></li>
            <li><a class="icon" href="https://pinterest.com/pin/create/bookmarklet/?url={{ page.permalink }}&amp;is_video=false&amp;description={{ page.title }}"><i class="fab fa-pinterest " aria-hidden="true"></i></a></li>
            <li><a class="icon" href="mailto:?subject={{ page.title }}&amp;body=Check out this article: {{ page.permalink }}"><i class="fas fa-envelope " aria-hidden="true"></i></a></li>
            <li><a class="icon" href="https://getpocket.com/save?url={{ page.permalink }}&amp;title={{ page.title }}"><i class="fab fa-get-pocket " aria-hidden="true"></i></a></li>
            <li><a class="icon" href="http://reddit.com/submit?url={{ page.permalink }}&amp;title={{ page.title }}"><i class="fab fa-reddit " aria-hidden="true"></i></a></li>
            <li><a class="icon" href="http://www.stumbleupon.com/submit?url={{ page.permalink }}&amp;title={{ page.title }}"><i class="fab fa-stumbleupon " aria-hidden="true"></i></a></li>
            <li><a class="icon" href="http://digg.com/submit?url={{ page.permalink }}&amp;title={{ page.title }}"><i class="fab fa-digg " aria-hidden="true"></i></a></li>
            <li><a class="icon" href="http://www.tumblr.com/share/link?url={{ page.permalink }}&amp;name={{ page.title }}&amp;description="><i class="fab fa-tumblr " aria-hidden="true"></i></a></li>
            <li><a class="icon" href="https://news.ycombinator.com/submitlink?u={{ page.permalink }}&amp;t={{ page.title }}"><i class="fab fa-hacker-news " aria-hidden="true"></i></a></li>
        </ul>
    </div>
    <div id="toc">
        {% include 'blog/_toc.html' %}
    </div>
  </span>
</div>
{% endblock %}
{% block content %}
<article class="post" itemscope="" itemtype="http://schema.org/BlogPosting">
    <header>
        <h1 class="posttitle" itemprop="name headline">{{ page.title }}</h1>
        <div class="meta">
            <span class="author" itemprop="author" itemscope="" itemtype="http://schema.org/Person">{% if page.author %}{{ page.author }}{% else %}{{ config.author }}{% endif %}</span>
            <div class="postdate">
                <time datetime="{{ page.date|date(format='%+') }}" itemprop="datePublished">{{ page.date|date(format=config.extra.post_date_format) }}</time>
            </div>
            {% if page.taxonomies.tags %}
            <div class="article-tag">
                <i class="fas fa-tag"></i>
                {% for tag in page.taxonomies.tags %}
                <a class="tag-link" href="{{ get_taxonomy_url(kind='tags', name=tag, lang=page.lang) }}">{{ tag }}</a>{% if loop.last %}{% else %}, {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </header>
    <div class="content" itemprop="articleBody">
    {{ page.content | safe }}
    </div>
    <div id="footer-post-container">
        <div id="footer-post" style="">
            <div id="nav-footer" style="display: none">
                <ul>
                    {% for nav in config.extra.navigation %}
                    <li><a href="{{ nav.link |safe }}">{{ nav.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div id="toc-footer" style="display: none">
                {% include 'blog/_toc.html' %}
                <ol class="toc"><li class="toc-item toc-level-2"><a class="toc-link" href="#This-is-a-subtitle"><span class="toc-number">1.</span> <span class="toc-text">This is a subtitle</span></a></li><li class="toc-item toc-level-2"><a class="toc-link" href="#This-is-a-second-subtitle"><span class="toc-number">2.</span> <span class="toc-text">This is a second subtitle</span></a></li></ol>
            </div>

            <div id="share-footer" style="display: none">
                <ul>
                    <li><a class="icon" href="http://www.facebook.com/sharer.php?u={{ page.permalink }}"><i class="fab fa-facebook fa-lg" aria-hidden="true"></i></a></li>
                    <li><a class="icon" href="https://twitter.com/share?url={{ page.permalink }}&amp;text=Hello World"><i class="fab fa-twitter fa-lg" aria-hidden="true"></i></a></li>
                    <li><a class="icon" href="http://www.linkedin.com/shareArticle?url={{ page.permalink }}&amp;title={{ page.title }}"><i class="fab fa-linkedin fa-lg" aria-hidden="true"></i></a></li>
                    <li><a class="icon" href="https://pinterest.com/pin/create/bookmarklet/?url={{ page.permalink }}&amp;is_video=false&amp;description=Hello World"><i class="fab fa-pinterest fa-lg" aria-hidden="true"></i></a></li>
                    <li><a class="icon" href="mailto:?subject=Hello World&amp;body=Check out this article: {{ page.permalink }}"><i class="fas fa-envelope fa-lg" aria-hidden="true"></i></a></li>
                    <li><a class="icon" href="https://getpocket.com/save?url={{ page.permalink }}&amp;title={{ page.title }}"><i class="fab fa-get-pocket fa-lg" aria-hidden="true"></i></a></li>
                    <li><a class="icon" href="http://reddit.com/submit?url={{ page.permalink }}&amp;title={{ page.title }}"><i class="fab fa-reddit fa-lg" aria-hidden="true"></i></a></li>
                    <li><a class="icon" href="http://www.stumbleupon.com/submit?url={{ page.permalink }}&amp;title={{ page.title }}"><i class="fab fa-stumbleupon fa-lg" aria-hidden="true"></i></a></li>
                    <li><a class="icon" href="http://digg.com/submit?url={{ page.permalink }}&amp;title={{ page.title }}"><i class="fab fa-digg fa-lg" aria-hidden="true"></i></a></li>
                    <li><a class="icon" href="http://www.tumblr.com/share/link?url={{ page.permalink }}&amp;name={{ page.title }}&amp;description="><i class="fab fa-tumblr fa-lg" aria-hidden="true"></i></a></li>
                    <li><a class="icon" href="https://news.ycombinator.com/submitlink?u={{ page.permalink }}&amp;t=Hello World"><i class="fab fa-hacker-news fa-lg" aria-hidden="true"></i></a></li>
                </ul>

            </div>

            <div id="actions-footer">
                <a id="menu" class="icon" href="#" onclick="$('#nav-footer').toggle();return false;"><i class="fas fa-bars fa-lg" aria-hidden="true"></i> Menu</a>
                <a id="toc" class="icon" href="#" onclick="$('#toc-footer').toggle();return false;"><i class="fas fa-list fa-lg" aria-hidden="true"></i> TOC</a>
                <a id="share" class="icon" href="#" onclick="$('#share-footer').toggle();return false;"><i class="fas fa-share-alt fa-lg" aria-hidden="true"></i> Share</a>
                <a id="top" style="display: none;" class="icon" href="#" onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');"><i class="fas fa-chevron-up fa-lg" aria-hidden="true"></i> Top</a>
            </div>

        </div>
    </div>
</article>
{% endblock %}
